h1{
    font-family: AvantGardeGothicC;
    color: whitesmoke;
    padding: 2px 0px 2px 0px;
    margin: 0px 0px 0px 5px;
    text-align: center;

}

.top_panel{
    border: 1px solid gainsboro;
    width: 99.5%;
    background: linear-gradient(to bottom right,rgba(0, 0, 0, 1),rgba(7, 7, 7, 0.82));
}
.window_panel{
    background: linear-gradient(to bottom right ,rgba(94, 94, 93, 0.49),rgba(188, 188, 188, 0.82));
    border: 1px solid rgba(0, 0, 0, 0.82);
    height: 400px;
    width: 60%;
    float: left;
    clear: none;
    margin: 0px 0px 0px 0px;
    padding: 1px 1px 0px 0px;
}
#button_panel{
    height: 100px;
}

#dbTable{
    border-radius:9px;
    border:1px solid #84bbf3;
    height: 400px;
    width:60%;
    float:left;
    overflow: scroll;
}
#dbButton{
    float:right
}
#dbButton2{
    float:right
}
#wrapper{
    margin-left:auto;
    margin-right:auto;
    width: 1180px;
}
.button_class {
    -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:#79bbff;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding:24px 35px;
    margin: 5px;
    text-decoration:none;
    text-shadow:-1px -1px 0px #528ecc;
}
.button_class:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:#378de5;
}
.button_class:active {
    position:relative;
    top:1px;
}



#descr_panel{
    width: 58%%;
    height: 10px;
}
#calc_panel{
    background:whitesmoke;
    width: 39%;
    float: right;

}
nav ul ul{
    display: none;
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}

nav ul ul li{
  float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a{
    padding 15px 40px;
    color #fff;
}
nav ul ul li a:hover{
    background: #4b545f;
}
nav ul ul ul{
    position: absolute; left: 100%; top: 0;
}
nav ul li:hover > ul{
    display: block;
}

nav ul{
    background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -o-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(top, #efefef 0%, #bbbbbb 100%);

    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;

}
nav ul:after{
    content: ""; clear: both; display: block;
}
nav ul li {
    float: left;
}
nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; padding: 25px 40px;
    color: #757575; text-decoration: none;
}


